:root {
  /* --primary-bg-color: #fff;
  --secondary-bg-color: #1d1f1d;
  --tertiary-bg-color: #e4ede6; */

  --primary-bg-color: #584f84;
  /* --primary-bg-color: #bd6ee6; */
  --secondary-bg-color: #876a96;
  --tertiary-bg-color: #d7c1e0;
  --quartenary-bg-color: #edeff2;
  --cinq-bg-color: #e6ae73;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
}

li {
  list-style-type: none;
}

html {
  height: 100%;
}

body {
  height: 100%;
  font-family: "Cutive Mono", monospace;
  color: var(--quartenary-bg-color);
  background-color: var(--quartenary-bg-color);
  background-color: #b5b8e8;
  font-size: 1.5rem;
}

.body-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: auto;
  /* width: 100%; */

  /* background-color: #b5b8e8; */
}

.main-container {
  width: 80%;
  margin: 0 auto;
  flex: 1 0 auto;
  /* border: 1px solid red; */
  border-radius: 20px;
  background-color: var(--primary-bg-color);
  padding: 1% 5% 2%;
  text-align: center;
  transform: scale(0.88);
}

.board-layout {
  display: flex;
  justify-content: space-around;
  margin-top: 3rem;
}

.tagline {
  font-size: 1.2rem;
  margin-top: 0.5rem;
}
button {
  display: block;
  cursor: pointer;
  width: 12rem;
  padding: 0.5rem 1.5rem;
  color: var(--secondary-bg-color);
  color: var(--primary-bg-color);
  font-family: "Cutive Mono", monospace;
  text-align: center;
  margin: 1rem auto 0;
  border: none;
  border-radius: 5px;
  outline: none;
  font-size: 1.1rem;
  transition: all 200ms ease-in;
}

button:hover {
  background-color: var(--cinq-bg-color);
  transform: scale(1.05);
}

@media only screen and (max-width: 870px) {
  .main-container {
    width: 90%;
  }
}

@media only screen and (max-width: 720px) {
  .main-container {
    width: 94%;
    margin: 1% auto 1.5%;
    flex: 1 0 auto;
    border-radius: 20px;
    background-color: var(--primary-bg-color);
    padding: 3% 5% 7.5%;
    text-align: center;
    transform: scale(0.96);
  }
  .tagline {
    font-size: 1.1rem;
    margin-top: 0.9rem;
    font-style: italic;
  }

  .board-layout {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 3rem;
  }

  button {
    margin: 1.3rem auto 0;
    font-size: 1.1rem;
  }
}
