:root {
  /* --primary-bg-color: #fff;
  --secondary-bg-color: #1d1f1d;
  --tertiary-bg-color: #e4ede6; */
  /* 
  --tertiary-bg-color: #fdfdf6;
  --quartenary-bg-color: #857671;
  --cinq-bg-color: black; */
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 90px);
  grid-template-rows: repeat(3, 90px);
}

.item {
  border: 2px solid var(--secondary-bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  /* color: var(--cinq-bg-color); */
  font-size: 5rem;
}

.item:nth-child(1),
.item:nth-child(2),
.item:nth-child(3) {
  border-top: none;
}
.item:nth-child(7),
.item:nth-child(8),
.item:nth-child(9) {
  border-bottom: none;
}

.item:nth-child(3n + 1) {
  border-left: none;
}
.item:nth-child(3n + 3) {
  border-right: none;
}
