.footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: var(--quartenary-bg-color);
  height: 7vh;
  background-color: var(--primary-bg-color);
  font-size: 1.1rem;
}

.footer .social-media {
  display: flex;
}

.footer .fas {
  color: var(--cinq-bg-color);
}

.footer .social-media .fab {
  margin-left: 2rem;
  color: var(--quartenary-bg-color);
}
