.player-select-form {
  margin-top: 3%;
}

.form-flex-container {
  display: flex;
  justify-content: space-around;
}

.form-label {
  font-size: 1.1rem;
}

.player-input {
  width: 20%;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  outline: none;
}

.alert-paragraph {
  background-color: bisque;
  border-radius: 5px;
  color: #e84435;
  width: 60%;
  padding: 1%;
  margin: 1rem auto;
  font-size: 1rem;
  font-weight: bold;
}

@media only screen and (max-width: 576px) {
  .player-select-form {
    margin: 7.5% 0 10%;
  }

  .form-flex-container {
    display: flex;
    justify-content: space-between;
  }

  .form-label {
    font-size: 1.1rem;
  }

  .player-input {
    width: 30%;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    outline: none;
  }

  .alert-paragraph {
    width: 85%;
  }
}
