.score-item {
  border: 2px solid var(--secondary-bg-color);
  display: flex;
  font-size: 1.1rem;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: var(--quartenary-bg-color);
}

.score-grid-container {
  margin: 4rem auto 0;
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(2, 90px);
}

.score-item:nth-child(1),
.score-item:nth-child(2),
.score-item:nth-child(3) {
  border-top: none;
}
.score-item:nth-child(4),
.score-item:nth-child(5),
.score-item:nth-child(6) {
  border-bottom: none;
}

.score-item:nth-child(3n + 1) {
  border-left: none;
}
.score-item:nth-child(3n + 3) {
  border-right: none;
}

@media only screen and (max-width: 576px) {
  .score-grid-container {
    margin: 4rem auto 0;
    display: grid;
    grid-template-columns: repeat(3, 95px);
    grid-template-rows: repeat(2, 90px);
  }
}
